{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}{{ turnier.name }}{% endblock %}
{% block content %}
<!--Using Bootstrap classes for styling here-->
<nav class="fixed-top" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('core.tabelle_einer_gruppe', turnier_id=turnier.id, gruppe_id=gruppe.id) }}">{{ gruppe.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Runde {{ runde }}</li>
    </ol>
</nav>
<div id="scoreboard">
    <div class="col">
    <h1 class="mt-5 mb-3 title-turnier">{{ turnier.name }}</h1>
    </div>
    <div class="container">
        <h2 class="mb-4">Runde {{ runde }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Team 1</th>
                            <th>Team 2</th>
                            <th>Ergebnis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for spiel in alle_runden %}
                        <tr class="{% if spiel.gespielt == '1' %}bg-success text-white{% endif %}">
                            <td>{{ spiel.team1Name }}</td>
                            <td>{{ spiel.team2Name }}</td>
                            <td>{{ spiel.toreT1 }} : {{ spiel.toreT2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}
